{% extends "base.html" %}

    {%block head%}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    {% endblock %}
    {% block main %}
    <div >
        <span>Task number: {{ Side_number }}</span>
    </div>

    <div >
        <span>Task Name: {{ Task_name }}</span>
    </div>

    <div >
        <span>Last Activity time: {{ Activity_time }}</span>
    </div>

    <div >
        <span>Task Status: {{ Actyvity_type }}</span>
    </div>

    <div >
        <span>Sum time: {{ Sum_hour }} h {{Sum_min}} min {{Sum_second}} s</span>
    </div>

     <div>
        <a href="/upgradeNewtask" ><button type = "button" value= "Add a new task">Add a new task</button></a>
     </div>
     <div>
        <a href="/upgradeSide_num" ><button type = "button" value="Change the side number">Change the side number</button></a>
     </div>
     <div>
        <a href="/upgradeTask_name" ><button type = "button" value="Change your task name">Change your task name</button></a>
     </div>
     <div>
        <a href="/endTask" ><button type = "button" value="end the task">end the task</button></a>
     </div>
{% endblock %}


