{% extends "base.html" %}
    {%block head%}
    {% endblock %}

    {% block main %}
        <form action="{{ url_for('upgradeNewtask') }}" method="post">
           <div class="question-control">
               <div class="form-group">
                    <div>
                        <label for="Task_name">Task name</label>
                        <input class="form-control" id="Task_name" placeholder="Please enter your task name" name="Task_name"type="textarea" required style="resize:none;width:150px;height:50px;"overflow-y:visible;></input>
                        <span class="validity"></span>
                    </div>
                    <div>
                        <label for="Side_num">Side number</label>
                        <input type = textarea class="form-control" id="Side_number" placeholder="Please choose your Side number" name="Side_number" required style="resize:none;width:150px;height:50px;"overflow-y:visible;></input>
                        <span class="validity"></span>
                    </div>
                </div>
            <div class="submit-button">
                <<form action = "{{url_for('index')}}" method = "POST">
               <button type="submit" class="btn btn-default" style="float:right" id="submit-button">Submit</button>
            </div>
            </form>
        </div>
    {% endblock %}
