{% extends "base.html" %}
    {%block head%}
    <style>   
        .require{ color: red;} 
    </style>
 
    {% endblock %}

    {% block main %}
        <form action="/upgradeSide_num" method= "POST">
                    <div>
                        <span class="require">*</span>
                        <label for="Task_name">The Task name </label>
                        <input  type = "text"
                                id="Task_name" 
                                placeholder="Please enter your task name" 
                                name="Task_name"
                                required style="resize:none;width:300px;height:50px;"
                                overflow-y:visible;><br><br>
                        <span class="validity"></span>
                    </div>
                    <div>
                        <span class="require">*</span>
                        <label for="Side_number">Side number  </label>
                        <input  type = "text "
                                id="Side_number" 
                                placeholder="Please choose your Side number" 
                                name="Side_number" 
                                required style="resize:none;width:300px;height:50px;"
                                overflow-y:visible;><br><br>
                        <span class="validity"></span>
                    </div>
                <div class="submit-button">
                    <button type="submit" style="float:right" id="submit-button" value="submit">Submit</button>
                </div>
        </form>
    {% endblock %}
