{% extends "base.html" %}
    {%block head%}
    {% endblock %}

    {% block main %}
        <form action="#" methods= "post">
               <div class="form-group">
                    <div>
                        <label for="Task_name">Task name</label>
                        <input  type = text
                                class="form-control" 
                                id="Task_name" 
                                placeholder="Please enter your task name" 
                                name="Task_name"
                                required style="resize:none;width:150px;height:50px;"
                                overflow-y:visible;><br><br>
                        <span class="validity"></span>
                    </div>
                    <div>
                        <label for="Side_number">Side number</label>
                        <input  type = text 
                                class="form-control" 
                                id="Side_number" 
                                placeholder="Please choose your Side number" 
                                name="Side_number" 
                                required style="resize:none;width:150px;height:50px;"
                                overflow-y:visible;><br><br>
                        <span class="validity"></span>
                    </div>
                </div>
                <div class="submit-button">
                    <button type="submit" style="float:right" id="submit-button" value="submit">Submit</button>
                </div>
        </form>
    {% endblock %}
